[Unit]
Description=Frikanalen Playout
After=syslog.target network.target

[Service]
Type=simple
User=fk-playout
WorkingDirectory=/opt/fk-playout
ExecStart=/opt/fk-playout/bin/start_playout.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
